module icane_test;

pipeline icane_test {
	mpu_acq,
	normalize_mpu_ag,
	tlcfeaturizer,
	protonn,	
	thresholding,
	majority_vote(10),
	{
	    toggle_led.on,
		ble_send(timeout=3000),
		toggle_led.off
	}
};
