module thresholding;


scoreThreshold = {0,0,0,90000,60000, 70000,0, 70000, 0, 45000};

default flow threshold(scores: int[], result: int) {
	// Thresholding to establish tighter constraints
	if (scores[result]<scoreThreshold[result]){
		result = 1;
	}
	next(result);
}
