body {
  margin: 0;
  padding: 0;
` width: 100%;`
  margin-top: 5px;
  overflow: hidden;
}

button {
  margin: 0;
}

.CodeMirror {
  margin: 0;
  padding: 0;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
#tab-list .close{
  margin-left: auto;
}
#CodeMirror{
  position:fixed;
  top: 50px;
  bottom: 24px;
  left: 0;
  right: 0;
  background: #262626;
}
#analysis{
  overflow :auto;
  height :200px;
  bottom:0;
  background: #ffffff;
  display: none;
}
#main{
  margin-left: 135px;
  width:100%;
}
.activeline {
  background-color: rgb(211,211,211,0.1) !important;}
.info {
  font-family: monospace;
  white-space: nowrap;
  position: fixed ;
  bottom: 0;
  background: #eee;
  padding: 2px;
  height: 20px;
  left: 0;
  right: 0;
  z-index: 9;
}
.container-fluid{
  width:100%;
}

.info label {
  font-weight: bold;
}

.buttons {
  padding: 2px;
  height: 25px;
}
